<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;" />
    <title>Home</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>


    {% load staticfiles %}
    <!-- here for local css files -->
    <link rel="stylesheet" href="{% static 'homeApp/css/home-main.css'%}"/>
    <!-- here are the global css files -->


    <link rel="stylesheet" href="{% static 'global/css/watchlist_tile.css'%}"/>
    <!-- here is the import for javascript  -->
    <script type="text/javascript" src="{% static 'homeApp/js/main.js'%}"></script>
    <!-- here is for the reviews -->
    <link rel="stylesheet" href="{% static 'homeApp/css/review_card_redone.css'%}"/>
    <script type="text/javascript" src="{% static 'homeApp/js/review_card.js'%}"></script>

    <!-- for the menu -->
    <script type="text/javascript" src="{% static 'global/js/nav-bar.js'%}"></script>
    <link rel="stylesheet" href="{% static 'global/css/navbarStyle.css'%}"/>
  </head>
  <body>

    {% include "../global/navbar.html" %}

    <div class="content-wrapper">
        <div class="header">
            <p class="the-name">Two Thumbs Up</p>


            <div class="slideshow-banner">
              {% for item in slideshow %}
                <div id= "{{item.placement}}" class="slideshow-option {{item.status}} ">
                    <img class="top-banner-backdrop"src="https://image.tmdb.org/t/p/original{{item.backdrop_path}}" alt="">
                    <div class="banner-info-holder">
                        <p class="movie-title-banner">{{item.title}}</p>
                        <p class="movie-view-button">View Movie</p>
                    </div>
                </div>
              {% endfor %}

            </div>



            <div onclick="slideshowController(+1)" class="right-arrow-holder">
                <svg class="side-icon icon-right-arrow">
                  <use xlink:href="#icon-right-arrow"></use>
                  <symbol id="icon-right-arrow" viewBox="0 0 32 32">
                      <title>right-arrow</title>
                      <path d="M10.022 30.090c-0.198 0.198-0.447 0.298-0.719 0.298s-0.521-0.099-0.719-0.298c-0.397-0.397-0.397-1.042 0-1.439l12.651-12.651-12.651-12.651c-0.397-0.397-0.397-1.042 0-1.439s1.042-0.397 1.439 0l13.371 13.371c0.397 0.397 0.397 1.042 0 1.439l-13.371 13.371z"></path>
                  </symbol>
                </svg>
            </div>
            <div onclick="slideshowController(-1)" class="left-arrow-holder ">
                <svg class="side-icon icon-left-arrow">
                  <use xlink:href="#icon-left-arrow"></use>
                  <symbol id="icon-left-arrow" viewBox="0 0 32 32">
                      <title>left-arrow</title>
                      <path d="M21.978 30.090c0.198 0.198 0.447 0.298 0.719 0.298s0.521-0.099 0.719-0.298c0.397-0.397 0.397-1.042 0-1.439l-12.651-12.651 12.651-12.651c0.397-0.397 0.397-1.042 0-1.439s-1.042-0.397-1.439 0l-13.395 13.371c-0.397 0.397-0.397 1.042 0 1.439l13.395 13.371z"></path>
                  </symbol>
                </svg>
            </div>
        </div>




      <h1 class = "reviews-header">Recent Reviews</h1>
      <div class="review-feed-wrapper content">
        {% if reviews == "none" %}
          <h1>There are no reviews currently</h1>
          {%else%}
          {% for review in reviews %}

          <div class="full-review-card">
              <div class="full-card-holder">
                  <div class="movie-poster">
                      <img src="https://image.tmdb.org/t/p/w1280/{{review.poster_path}}">
                  </div>
                  <div class="score-holder">
                      <div class="score">
                          <p>Overall</p>
                          <p class="score-number {{review.overall_color}}"> {{review.score}} </p>
                      </div>

                      <div class="score odd-back">
                          <p>Story</p>
                          <p class="score-number {{review.story_color}}"> {{review.story_rating}} </p>
                      </div>

                      <div class="score">
                          <p>Entertainment</p>
                          <p class="score-number {{review.ent_color}}"> {{review.entertainment_rating}} </p>
                      </div>

                      <div class="score odd-back">
                          <p>Acting</p>
                          <p class="score-number {{review.act_color}}"> {{review.acting_rating}} </p>
                      </div>

                      <div class="score">
                          <p>Visual</p>
                          <p class="score-number {{review.vis_color}}"> {{review.visual_rating}}</p>
                      </div>
                      <div class="score odd-back">
                          <p>Sound</p>
                          <p class="score-number {{review.sound_color}}">{{review.sound_rating}}</p>
                      </div>
                  </div>
              </div>

              <div class="review-extra-info">
                  <div class="top-backdrop-image">
                      <img src="https://image.tmdb.org/t/p/w1280/{{review.backdrop_path}}">
                  </div>
                  <div class="extra-info-review">
                      <div class="subscores-full title-name">
                          <p class= "media-title-review">{{review.title}}</p>
                      </div>
                      <div class="middle-section-review-extra">
                          <div class="overall-section mid-section">
                              <p class="os-title">Overall Score</p>
                              <p class= "os-score-number {{review.overall_color}}">{{review.score}}</p>
                          </div>


                          <div class="extra-scores-section mid-section">
                              <div class="info-holder-subscore">
                                  <p>Story</p>
                                  <div class="bar-main ">
                                      <div class="bar-amount {{review.story_percent}} {{review.story_color}}"></div>
                                  </div>
                              </div>
                              <div class="info-holder-subscore">
                                  <p>Entertainment</p>
                                  <div class="bar-main ">
                                      <div class="bar-amount {{review.ent_percent}} {{review.ent_color}}"></div>
                                  </div>
                              </div>
                              <div class="info-holder-subscore">
                                  <p>Acting</p>
                                  <div class="bar-main ">
                                      <div class="bar-amount {{review.act_percent}} {{review.act_color}}"></div>
                                  </div>
                              </div>
                              <div class="info-holder-subscore">
                                  <p>Visual</p>
                                  <div class="bar-main ">
                                      <div class="bar-amount {{review.vis_percent}} {{review.vis_color}}"></div>
                                  </div>
                              </div>
                              <div class="info-holder-subscore">
                                  <p>Sound</p>
                                  <div class="bar-main ">
                                      <div class="bar-amount nine green {{review.sound_percent}} {{review.sound_color}}"></div>
                                  </div>
                              </div>





                          </div>
                      </div>
                      <div class="bottom-section-review-extra">
                          <a href="/user/{{ this.review.reviewer_id }}">
                          <p><span>Reviewed by:</span></p>
                          <p class="reviewer-name">{{review.reviewer_fullname}}</p>
                          </a>
                      </div>
                  </div>

              </div>
          </div>

          {%endfor%}

          {%endif%}
      </div>


      <h1 class="watchlist-header">watch list</h1>
      <div class="extra-content-wrapper content">

        <div class="watchlist-holder">
          {% for media in watchlist%}
          <div class="movie-tile">
            <img class = "poster-tile" src="https://image.tmdb.org/t/p/w500/{{media.poster_path}}">
            <div class="watchlist-overlay">
              {% if media.media_type == "tv"%}
              <a href="/show/{{media.api_code}}">
              {% else %}
              <a href="/movie/{{media.api_code}}">
              {% endif %}
              <p class="add-review-watchlist">Add Review</p>
              </a>
              <a href="movie/delete/watchlist/{{media.id}}">
              <p class="remove-watchlist">Remove</p>
              </a>
            </div>
          </div>
          {% endfor %}
        </div> <!-- end of holder -->
      </div>




    </div>


  </body>
</html>
