<!DOCTYPE html>
<!-- image path https://image.tmdb.org/t/p/w500/ -->

<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>


    {% load staticfiles %}
    <!-- here for local css files -->
    <link rel="stylesheet" href="{% static 'homeApp/css/home-main.css'%}"/>
    <!-- here are the global css files -->
    <link rel="stylesheet" href="{% static 'global/css/navbarStyle.css'%}"/>
    <link rel="stylesheet" href="{% static 'global/css/stylesheet.css'%}"/>


    <!-- here is the import for javascript  -->
    <!-- <script type="text/javascript" src="{% static 'homeApp/js/main.js'%}"></script> -->
    <script type="text/javascript" src="{% static 'global/js/nav-bar.js'%}"></script>
  </head>
  <body>

    {% include "../global/navbar.html" %}


    <!-- <div class="topBar">
      <div class="ui-widget">
        <form class="" action="/search" method="post">
          {% csrf_token %}
        <label for="places">Search People: </label>
        <input name="person" id="places">
        <input type="submit" name="search" value="Search">
      </form>
      </div>

      <div class="ui-widget">
        <form class="" action="/search" method="post">
          {% csrf_token %}
          <label for="places">Search Movies, TV Shows: </label>
          <input name="person" id="movies">
          <input type="submit" name="search" value="Search">
        </form>
      </div> -->

    <div class="content-wrapper">
      <div class="notifications-wrapper">
        <h1>notifications</h1>
      </div>
      <div class="review-feed-wrapper">
        <h1>recent reviews</h1>
      </div>
      <div class="extra-content-wrapper">
        <h1>more content will go here</h1>
      </div>


    </div>


  </body>
</html>
