{% if reviews == "none" %}
  <h1>There are no reviews currently</h1>
  {%else%}
  {% for review in reviews %}

  <div class="review-total-holder">
    <div class="review-card-min">
      {% if review.type == "movie"%}
      <a href="/movie/{{review.media_code}}">
      {% else %}
        <a href="/show/{{review.media_code}}">
      {% endif %}
      <img src="https://image.tmdb.org/t/p/w1280/{{review.poster_path}}" alt="">
      </a>
    </div>
    <div class="review-card-full">
      <div class="overall-score-full">
        <p>Overall Score</p>
        <div class="bumper-reviewcard"></div>
        <div class="break"></div>
        <p class="score-overall-full {{review.overall_color}}">{{review.score}}</p>
      </div>
      <div class="subscores">
        <p>Story</p>
        <div class="score-bar {{review.story_percent}} {{review.story_color}} "></div>
        <p>Entertainment</p>
        <div class="score-bar {{review.ent_percent}} {{review.ent_color}} "></div>
        <p>Acting</p>
        <div class="score-bar {{review.act_percent}} {{review.act_color}} "></div>
        <p>Visual</p>
        <div class="score-bar {{review.vis_percent}} {{review.vis_color}} "></div>
        <p>Sound</p>
        <div class="score-bar {{review.sound_percent}} {{review.sound_color}} "></div>
      </div>
    </div>
    <a href="/user/{{ review.reviewer_id }}">
    <div class="p-img-holder">
      {% if review.is_pic == True %}
      <img src="{{review.profile_pic}}"/>
      {%endif%}
      {% if review.is_pic == False %}
      <p>{{review.profile_pic}}</p>
      {%endif%}
    </div>
    </a>

  </div>
  {% endfor%}
  {%endif%}
</div>
