<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;" />
    <meta charset="utf-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'User_app/css/login.css'%}">
  </head>
  <body>
    <div class="wrapper">
      <div class="center" id="login">
        <h1>Login</h1>

        <!-- login form  -->
        <form class="login-form" action="/log_user_in" method="post">
          {% csrf_token %}
          <p>Email:</p>
          <input class="input-field" type="email" name="email">
          <p>Password:</p>
          <input class="input-field" type="password" name="password">
          <div class="button-holder">
            <a class="register-link" href="/register">REGISTER</a>
            <input class="login-button" type="submit" name="Login" value="LOGIN">
          </div>

        </form>

      </div>

    </div>


  </body>
</html>
