<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'User_app/css/profile.css' %}">
    <script type="text/javascript" src="{% static 'User_app/js/profile.js'%}"></script>

  </head>
  <body>
    <div class="search-bar">
      <a href="/">Home</a>
      {% if request.session.user %}
      <a href="/logout">Logout</a>
      {% endif %}
      <div class="ui-widget">
        <form class="" action="/searchUsers" method="post">
          {% csrf_token %}
          <label for="places">Search People: </label>
          <input name="person" id="places">
          <input type="submit" name="search" value="Search">
        </form>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="userPage">
        <div class="profPic">
          <img id="proImg" src="{{profile_picture}}">
          <p id="editProf">Edit</p>

        </div>
        {% if profile_picture %}
        <div id="picDiv" style="display:none;">
          <form class=""  action="/editProfilePicture" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="file" name="myfile">
            <input type="submit" name="" value="Edit">
          </form><br>

        </div>
        {% else %}
        <input id="newProf" type="button" name="answer" value="New Profile Picture" />
        <div id="picDiv" style="display:none;">
          <form class=""  action="/newProfilePicture" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="file" name="myfile">
            <input type="submit" name="" value="Add">
          </form><br>

        </div>
        {% endif %}
        <!-- <img src="{% static "User_app/blankUser.png" %}" width="150" height="150"/> -->
        <h1>{{ user.first_name}} {{user.last_name}}</h1>
        <div class="list-buttons">

          <div class="list" id="list-1">
            <h3>Followers</h3>
            <p>{{followers.count}}</p>
          </div>
          <div class="list" id="list-2">
            <h3>Following</h3>
            <p>{{following.count}}</p>
          </div>
          <div class="list" id="list-3">
            <h3>Reviews</h3>
            <p>{{length}}</p>
          </div>
        </div>
        <div class="followers">


        </div>

      </div>
      <div class="pageFeed">

        <div class="reviewFeed">
          <h3>{{user.first_name}}'s Reviews</h3>

            {% for review in reviews %}
            <div class="reviewDiv">
              <img src="https://image.tmdb.org/t/p/w500/{{review.poster_path}}" >
              <h3>{{review.score}}</h3>
              <h3>{{review.title}}</h3>
              <p>{{review.content}}</p>

            </div>
            {% endfor %}



        </div>
        <div class="followerFeed" style="display:none">
          <h3>{{user.first_name}}'s Followers</h3>
          {% for follower in followers %}
          {% if follower.current_user.id == request.session.user %}
          <div class="followerDiv">
            <img src="{% static 'User_app/js/blankUser.png' %}" width="50" height="50"/>
              <a href="/profile">{{follower.current_user.first_name}} {{follower.current_user.last_name}}</a>
              <p>(You)</p>

          </div>

          {% else %}

          <div class="followerDiv">
            <img src="{% static "User_app/blankUser.png" %}" width="50" height="50"/>
            <a href="/user/{{ follower.current_user.id }}">{{follower.current_user.first_name}} {{follower.current_user.last_name}}</a>

          </div>
          {% endif %}
          {% endfor %}

        </div>
        <div class="followingFeed" style="display:none">
          <h3>{{user.first_name}}'s Following</h3>
          {% for follow in following %}
          {% if follow.id == request.session.user %}
          <div class="followingDiv">
            <img src="{% static "User_app/blankUser.png" %}" width="50" height="50"/>
            <a href="/profile">{{follow.first_name}} {{follow.last_name}}</a>
            <p>(You)</p>
          </div>
          {% else %}
          <div class="followingDiv">
            <img src="{% static "User_app/blankUser.png" %}" width="50" height="50"/>
            <a href="/user/{{ follow.id }}">{{follow.first_name}}</a>

          </div>
          {% endif %}
          {% endfor %}

        </div>
      </div>
      <div class="movieList">
        <h2>Movie List</h2>

      </div>


  </div>


  </body>
</html>
