@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #E6ECF0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.ui-widget{
  display:inline-block;
  position: fixed;
  height: auto;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 90;


}


#places {
  display: inline-block;
  position: relative;
  top: 0 ;
  left: 0;
  width:100%;
  font-size: 1em;
  height: 20%!important;
  padding: 10px;
  font-weight: 100!important;
}
.ui-autocomplete {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 20px;
  font-size: 2.0em;
}




.header-top {
  display: block;
  height: 60px;
  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.header {
  display: inline-block;
  position: relative;
  top: 0;
  vertical-align: top;

}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}
.content-wrapper {
  position: relative;
  text-align: center;
  vertical-align: top;
}


.list-buttons {
  display: inline-block;
  width: 250px;

  text-align: center;

}
.list-buttons p{
  font-size: 1.3em;
  color: #3F5EFB;
}
.list-buttons h3 {
  font-size: .80em;
  font-weight: 300;
  color:  #222222;

}
.list {
  display: inline-block;
  text-align: center;
  padding: 3px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 5px;
  vertical-align: top;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.list:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.profPic img {
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: cover;
  z-index: 2;


}
.profPic{
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
}
/*.profPic p {
  position: relative;
  color: white;
  z-index: -1;
  cursor: pointer;
}*/
#newProf, #editProf {
  z-index: 21;
  color: black;
  position: relative;
  cursor: pointer;
}
.profile-pic-placeholder {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  background-color: #FC466B;
}
.profile-pic-placeholder p {
  text-transform: uppercase;
  position: relative;
  color: white;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 2em;
  z-index: 20;
}
#newProf {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  color: #ccc;
  background: none;
  margin-top: 10px;
  font-weight: 100;
  cursor: pointer;
}




.userPage {
  background-color: #FFFFFF;
  width: 300px;
  text-align: center;
  position: relative;
  display: block;
  margin: 10px;
  vertical-align: top;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.userPage h1 {
  font-weight: 100;
}
.profileInfo {
  background-color: #FFFFFF;
  width: 300px;
  text-align: center;
  position: relative;
  display: block;
  margin: 10px;
  vertical-align: top;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.profileDiv {
  margin-top: 20px;
}
.profile-form input[type=text] {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  width: 100%;
  height: 20px;
}
.profile-form input[type=submit] {
  width: 100%;
  background-color: #3F5EFB;
  border: none;
  color: white;
  height: 25px;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 100;
  cursor: pointer;
}
#create{
  width : 40%;
  border-radius : 20px;
  background-color : #3F5EFB;
  color: white;
  margin-right: -50%;
  display : inline-block;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
#edit {
  width : 40%;
  border-radius : 20px;
  background-color : #3F5EFB;
  color: white;
  margin-right: -50%;
  display : inline-block;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
.contact-info {
  margin-top: 20px;
  text-align: left;
}
.contact-info h3 {
  text-align: center;
  font-weight: 300!important;
  padding-bottom: 10px;
}
.contact-info p {
  font-weight: 100!important;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

#newPro {
  width: 100%;
  background-color: #3F5EFB;
  border: none;
  color: white;
  height: 25px;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 100;
  cursor: pointer;
  transition: width 1s, border-radius 2s, margin-left 1s, background-color 1.5s;

}
#editPro {
  width: 100%;
  background-color: #3F5EFB;
  border: none;
  color: white;
  height: 25px;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 100;
  cursor: pointer;
  transition: width 1s, border-radius 2s, margin-left 1s, background-color 1.5s;
}
.movieList {
  background-color: #FFFFFF;
  width: 300px;
  text-align: center;
  position: relative;
  display: block;
  margin: 10px;
  vertical-align: top;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.watchlist-info {
  margin-top: 20px;
  display: inline-block;

}
.watchlist-info img {
  height: 100px;
}


.follow-button {
  width: 100%;
  background-color: #3F5EFB;
  border: none;
  color: white;
  height: 25px;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 100;
  cursor: pointer;

}
.unfollow-button {
  border: none;
  width: 100%;
  display: inline-block;
  background-color: white;
  color: #ccc;
  font-weight: 100;
  cursor: pointer;

}
#watchlist-button {
  width: 100%;
  background-color: #3F5EFB;
  border: none;
  color: white;
  height: 25px;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 100;
  cursor: pointer;

}
#watchlist-button:focus {
  outline: 0;
}
.watch-movie {
  display: inline-block;
  width: auto;
  height: 150px;

  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;

}
.watch-movie img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.watchlist-info a {
  color: black;
  text-decoration: none;

}
.watchlist-info a:visited {
  color: black;
}





/*this is stuff for side view */
.pageFeed {
  position: relative;
  background-color: #FFFFFF;
  width: 65%;
  height: auto;
  margin: 10px;
  overflow: scroll;
  display: inline-block;
  padding-top: 20px;
  border-radius: 4px;

}
.pageFeed a {
  text-decoration: none;
}
.profile-pic-holder-small {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  text-align: center;
  background-color: #FC466B;
}
.profile-pic-holder-small img {
  height:100%;
  width: auto;
}
/*follow section*/
/*user is following */
.followingFeed {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.followingDiv {
  display: inline-block;

  margin: 10px;
}


/*following user*/
.followerFeed {
  display: inline-block;
  text-align: center;

  width: 100%;
}
.followerDiv {
  display: inline-block;
  margin: 20px;

}






/*review */
.reviewFeed {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.reviewDiv {
  margin: 2%;
  outline: 2px solid green;
  text-align: left;
}
.reviewFeed img {
  height: 50px;
}
/*.search-bar {
  display: inline-block;
  margin: 10px;
  display: block;
  margin-bottom: 20px;
}*/
/*.ui-widget {
  display: inline-block;
  margin-left: 10px;
}*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.names-review {
  font-size: 2em;
  font-weight: 100;
}
.name-bumper {
  width: 80%;
  height: 5px;
  display: inline-block;
  border-radius: 9px;
  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}
.timestamp {
  color: #e2e2e2;
  font-size: 0.5em;
  font-weight: 100;

}

.menu-item p {
  top: -40% !important;
}
.logout-button p {
  top: 90% !important;
}
.profile-pic-holder-small p {
  text-transform: uppercase;
  color: white;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1em;
}

.followingFeed a, .followerFeed a {
  color: #222222
}

.user-name {
  text-transform: capitalize;
}

@media (max-width: 1050px) {

  .pageFeed {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

}

@media (max-width: 450px) {
  .review-total-holder {
    margin: 0px !important;
  }
  .name-bumper {
    margin-bottom: 20px !important;
  }

}
@media (max-width: 380px) {
  .userPage {
    margin: 0;
    margin-bottom: 10px;
    width: 95%;
  }

  .review-total-holder {
    width: 98% !important;
  }
  .review-card-min {
    width: 100% !important;
  }
  .review-card-full {
    width: 100% !important;
    height: 603px !important;
  }
  .subscores p {
    margin: 10px 0 !important;
  }
  .score-bar{
    height: 10px !important;
  }

}
