@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');


/*background: #FC466B;
background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
background: linear-gradient(to right, #3F5EFB, #FC466B);*/
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222222;
  margin: 0;
  padding: 0;
  padding-top: 40px;

}
.top-banner {
  position: absolute;
  display: inline-block;
  top:0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}
.top-banner h1 {
  color: white;
  position: absolute;
  top: -15px;
  left: 15px;
  font-weight: 500;
}

h1 {
  margin-bottom: 10px;
  font-weight: 500;
}

.discover-section {
  display: inline-block;
  vertical-align: top;
  width:48%;
  min-width: 450px;
  height: auto;
  /*min-height: 438px;*/
  padding-bottom: 25px;
  margin: 10px 0;
  overflow: hidden;


}
.section-title {
  margin-bottom: 10px;
  font-weight: 500;
}
.top-info-section {
  display: block;
  position: relative;
  width: 100%;
  height: 125px;

}
.spacer {
  display: inline;
}
.bumper {
  width: 50%;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;

  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);

}
.header-info {
  display: block !important;
  margin-bottom: 30px !important;
}
.discover-section p {
  display: inline-block;
  margin: 0 10px; ;
  font-weight: 100;

}
.top-info-section h1 {
  font-weight: 500;
}

/*movie card*/

.movie-card {
  display: inline-block;
  width:65%;
  background-color: #FAFAFB;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.movie-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.movie-card img {
  width: 100%;
  height: auto;
}

.info-plate {
  padding: 5px 0;
  vertical-align: bottom;
  text-align: left;

}
.actor-card {
  display: inline-block;
  width:25%;
  background-color: #FAFAFB;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.actor-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.actor-card img {
  width: 100%;
}
.tab-button {
  display: inline-block;
  padding: 4px;
  margin: 5px;
  border-radius: 4px;
  background-color: #FAFAFB;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.tab-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



a {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}



/*for more specific discovery*/
.top-banner-more {
  position: absolute;
  display: inline-block;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}
.icon-holder {
  position: absolute;
  display: inline-block;
  width:250px;

  top: 10px;
  left: 15px;
  z-index: 100;
}

.icon-discover {
  display: inline-block;
  width: 2em;
  height: 2em;
  fill: white;
  z-index: 100;
}
.icon-holder:hover {left: -3px; }
.icon-holder {
  transition: left .3s;
}

.discover-label:hover .icon-holder {left: -3px;}


.discover-label {
  color: white;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top:-15px;
  left: 50px;

}

.movie-list-container {
  width: 100%;
  position: relative;
  display: inline-block;
  height: 100%;
  padding-top:50px;
}

.movie-card-ext {
  vertical-align: top;
  margin: 20px;
  display: inline-block;
  width:20%;
  height: 20%;
  background-color: #FAFAFB;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.backdrop-img-cover {
  display: inline-block;
  width: 100%;
  height: 11vw;
  background-color: whitesmoke;
}
.movie-card-ext:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.movie-card-ext img {
  width: 100%;
  height: auto;
}

.info-plate-ext {
  color: #222222
  padding: 5px 0;
  vertical-align: bottom;
  text-align: center;
  white-space: nowrap;

}
a {
  color: #222222
}

.actor-card-ext {
  display: inline-block;
  vertical-align: top;
  width:15%;
  margin: 20px;
  background-color: #FAFAFB;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.actor-card-ext:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.actor-card-ext img {
  width: 100%;
}
.actor-card-ext .info-plate {
  text-align: center;
}
@media (max-width: 850px) {
    .spacer {
      display: block;
    }
    .content-container{
      text-align: center;
    }
    .discover-section {
      width:100%;
      min-width: 0px;
    }
    .movie-card {
      width: 95%;
    }
    .actor-card {
      width: 60%;
    }
    .movie-card-ext {
      width: 100%;
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
    .actor-card-ext {
      width: 95%;
      display: block;
    }
}



/*//end */
