@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;

}

.content-wrapper {
  width: 100%;
  min-height:500px;
}
.content-wrapper h1 {
  font-size: 1.5em;
}
.recomend-wrapper {
  border: 1px solid green;
  display: inline-block;
  text-align: center;
  width: 45%;
  height: auto;
  margin-bottom: 50px;
}
.review-feed-wrapper {
  border: 1px solid blue;
  display: inline-block;
  text-align: center;
  float: right;
  width: 50%;
  height: 60%;
}
.extra-content-wrapper {
  border: 1px solid red;
  display: inline-block;
  text-align: center;
  width: 45%;
  height: auto;

}
