 <!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;" />

     <title>Disicover</title>
     {% load staticfiles %}
     <link rel="stylesheet" href="{% static 'movieApp/css/discover.css'%}"/>
   </head>
    <div class="top-banner">
      <h1>Discover</h1>
    </div>
    <div class="discover-section">
      <div class="top-info-section">
        <h1 class="section-title">Popular</h1>
        <div class="bumper"></div>
        <p class="header-info">Find something new to enjoy and watch</p>
      </div>
      <div class="movie-card">
        <img src="https://image.tmdb.org/t/p/original/zfWPeRgYpRjPZLGwwkfnTfaFnNh.jpg" >
        <div class="info-plate">
          <p>Blade Runner 2049</p>
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="discover-section">
      <div class="top-info-section">
        <h1>Movies</h1>
        <div class="bumper"></div>
        <div class="menu-spacer"></div>
        <div class="tab-button">
          <p>Now Playing</p>
        </div>
        <div class="tab-button">
        <p>Top Movies</p>
        </div>
        <div class="tab-button">
          <p>Upcoming</p>
        </div>
      </div>
      <div class="movie-card">
        <img src="https://image.tmdb.org/t/p/original/uExPmkOHJySrbJyJDJylHDqaT58.jpg" >
        <div class="info-plate">
          <p>Kingsman: The Golden Circle</p>
        </div>
      </div>

    </div>

    <div class="spacer"></div>

    <div class="discover-section">
      <div class="top-info-section">
        <h1>TV</h1>
        <div class="bumper"></div>
        <div class="menu-spacer"></div>
        <div class="tab-button">
          <p>On Air</p>
        </div>
        <div class="tab-button">
          <p>Top Rated</p>
        </div>
      </div>
      <div class="movie-card">
        <img src="https://image.tmdb.org/t/p/original/nGsNruW3W27V6r4gkyc3iiEGsKR.jpg" >
        <div class="info-plate">
          <p>The Big Bang Theory</p>
        </div>
      </div>

    </div>

    <div class="spacer"></div>

    <div class="discover-section">
      <div class="top-info-section">
        <h1>Actors</h1>
        <div class="bumper"></div>
        <div class="menu-spacer"></div>
        <div class="tab-button">
          <p>Popular</p>
        </div>
      </div>
        <div class="actor-card">
          <img src="https://image.tmdb.org/t/p/w1280/4X1wJo5xHm3YICPWZqVCPgLBEJ7.jpg" >
          <div class="info-plate">
            <p>Ryan Gosling</p>
          </div>
        </div>
    </div>







   </body>
 </html>
