<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Episode Page</title>
  </head>
  <body>
    <a href="/">Home</a>
    {% if request.session.user %}
    <a href="/logout">Logout</a>
    {% endif %}
    <h2>{{tv_episode.name}}</h2>
    <h2>Air Date: {{tv_episode.air_date }}</h2>
    <img src="https://image.tmdb.org/t/p/w500{{tv_episode.still_path}}" alt="">
    <p>{{tv_episode.overview}}</p>
    {% if 'user' in request.session %}
    <div class="review">
      {% if completed == False %}
      <h3>Write a review of this episode:</h3>
      <form class="" action="/makeReview/{{id}}/{{season}}/{{episode}}" method="post">
        {% csrf_token %}
        <input type="hidden" name="type" value="episode">
        <input type="number" max="100" name="score" value="">
        <textarea name="content" rows="8" cols="80" placeholder="Enter Your Comment Here"></textarea>

        <p>Story rating:</p>
        <input name='story' type="range" min="0" max="10">
        <p>Entertainment Rating:</p>
        <input name='entertainment' type="range" min="0" max="10">
        <p>Acting Rating</p>
        <input name='acting' type="range" min="0" max="10">
        <p>Visual Rating:</p>
        <input name='visual' type="range" min="0" max="10">
        <p>Sound Rating:</p>
        <input name='sound' type="range" min="0" max="10">

        <input type="submit" name="" value="Submit">
      </form>
      {% endif %}
      {% endif %}
        <!-- {% for review in reviews %}
        <div class="review">
          <p>========================</p>
          <h1>{{review.score}}</h1>
          <h2>{{review.user_id.first_name}} says:</h2>
          <p>{{review.content}}</p>
          <p>========================</p>
        </div>
        {% endfor %} -->

    </div>


  </body>
</html>
