<!DOCTYPE html>
<!-- image path https://image.tmdb.org/t/p/w500 -->

<html>
  <head>
    <meta charset="utf-8">
    <title>Movie</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'movieApp/movies.css' %}">
  </head>
  <body>
    <div class="nav-bar">
      <a href="/">Home</a>
      {% if request.session.user %}
      <a href="/logout">Logout</a>
      {% endif %}
    </div>

    <h1>{{ movie.title }}</h1>
    <img style="width:200px" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" >

    {% if 'user' in request.session %}
    {% if in_list == False %}
    <form class="add_to_watchlist" action="/movie/add/watchlist/{{movie.id}}" method="post">
        {% csrf_token %}
        <input type="hidden" name="type" value="movie">
        <input type="submit" name="add_to_watchlist" value="Add to Watchlist">
      </form>
    {% else %}
    {{watchlist.api_code}}
    <a href="/movie/delete/watchlist/{{watchlist.id}}">Remove From Watchlist</a>

    {% endif %}

    <div class="review">
      {% if completed == False%}
      <h3>Write a review of this movie:</h3>
      <form class="" action="/makeReview/{{movie.id}}/0/0" method="post">
        {% csrf_token %}
        <input type="hidden" name="type" value="movie">
        <input type="number" max="100" name="score">
        <textarea name="content" rows="8" cols="80" placeholder="Enter Your Comment Here"></textarea>
        <p>Story rating:</p>
        <input name='story' type="range" min="0" max="10">
        <p>Entertainment Rating:</p>
        <input name='entertainment' type="range" min="0" max="10">
        <p>Acting Rating</p>
        <input name='acting' type="range" min="0" max="10">
        <p>Visual Rating:</p>
        <input name='visual' type="range" min="0" max="10">
        <p>Sound Rating:</p>
        <input name='sound' type="range" min="0" max="10">

        <input type="submit" name="" value="Submit">

      </form>
      {%endif%}
      {% endif %}

        {% for review in reviews %}
        <div class="review">
          <p>========================</p>
          <h1>{{review.score}}</h1>
          <h2>{{review.user_name}} says:</h2>
          <p>{{review.content}}</p>
          <p>========================</p>
        </div>
        {% endfor %}

    </div>

    <div class="summary">
      <h3>Summary</h3>
      <p>{{ movie.overview }}</p>
    </div>

    <h3>cast</h3>
    <div class="cast-wrapper">
      {% for person in cast.cast|slice:":10" %}
      <div class="castMember">
        <a href="/people/{{person.id}}">
          <img style="width:100px" src="https://image.tmdb.org/t/p/w500{{person.profile_path}}">
        </a>
        <p>{{person.name}}</p>
        <p>({{person.character}})</p>
      </div>
      {% endfor %}


    </div>
  </body>
</html>
