<link rel="stylesheet" href="here.css">
<body>


  <div class="review-total-holder">
    <div class="review-card-min">
      <img src="https://image.tmdb.org/t/p/w1280/gajva2L0rPYkEWjzgFlBXCAVBE5.jpg" alt="">
      <div class="info-score">
        <p class="score-overall green">94</p>
      </div>
    </div>



    <div class="review-card-full">
      <div class="overall-score-full">
        <p>Overall Score</p>
        <div class="bumper-reviewcard"></div>
        <div class="break"></div>
        <p class="score-overall-full green">94</p>
      </div>
      <div class="subscores">
        <p>Story</p>
        <div class="score-bar green eight"></div>
        <p>Entertainment</p>
        <div class="score-bar yellow six"></div>
        <p>Acting</p>
        <div class="score-bar green seven"></div>
        <p>Visual</p>
        <div class="score-bar red four"></div>
        <p>Sound</p>
        <div class="score-bar green eight"></div>
      </div>
    </div>

  </div>






</body>
